src/main/resources/jaxb/ygraphml/graphml-structure.xsd

<?xml version="1.0"?>

<xsd:schema
    targetNamespace="http://graphml.graphdrawing.org/xmlns"

    xmlns="http://graphml.graphdrawing.org/xmlns"
    xmlns:g="http://graphml.graphdrawing.org/xmlns"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink"

    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    >
  <xsd:annotation>
    <xsd:documentation
        source="http://graphml.graphdrawing.org/"
        xml:lang="en">
      The schema corresponding to this document defines the structural
      layer of the Graph Markup Language (GraphML).
      Although a DTD is provided, this schema is, together with its extensions
      http://graphml.graphdrawing.org/xmlns/1.0/graphml-attributes.xsd
      and
      http://graphml.graphdrawing.org/xmlns/1.0/graphml-parseinfo.xsd,
      the only normative reference.
    </xsd:documentation>
  </xsd:annotation>

  <xsd:import namespace="http://www.w3.org/1999/xlink"
             schemaLocation="xlink.xsd">
    <xsd:annotation>
      <xsd:documentation
          xml:lang="en">
        Get access to the xlink attribute groups for the attributes
        xlink:href and xlink:type of locator.type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:import>

  <xsd:annotation>
    <xsd:documentation
        source="http://graphml.graphdrawing.org/"
        xml:lang="en">
      The attribute groups &lt;element_name>.extra.attrib may be used
      for adding user defined attributes to the elements
      &lt;element_name>.
      The attribute group common.extra.attrib may be used for adding
      user defined attributes to all elements.
    </xsd:documentation>
  </xsd:annotation>


  <xsd:attributeGroup name="common.extra.attrib"/>


  <xsd:attributeGroup name="graphml.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="data.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="key.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="default.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="graph.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="node.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="edge.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="port.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="hyperedge.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="endpoint.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>

  <xsd:attributeGroup name="locator.extra.attrib">
    <xsd:attributeGroup ref="common.extra.attrib"/>
  </xsd:attributeGroup>


  <xsd:annotation>
    <xsd:documentation
        source="http://graphml.graphdrawing.org/"
        xml:lang="en">
      Complex type definitions for the GraphML structural layer elements:
      &lt;data>, &lt;default>, &lt;key>, &lt;graphml>, &lt;graph>,
      &lt;node>, &lt;port>,
      &lt;edge>, &lt;hyperedge>, &lt;endpoint> and &lt;locator>.
      The names of the complex types are constructed corresponding
      to the pattern element_name.type.
      (The only remaining GraphML structural layer element
      &lt;desc> is of simple type xsd:string.)
    </xsd:documentation>
  </xsd:annotation>


  <xsd:complexType name="data-extension.type" mixed="true">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Extension mechanism for the content of &lt;data> and &lt;default>.
        The complex type data-extension.type is empty per default.
        Users may redefine this type in order to add content to
        the complex types data.type and default.type which are
        extensions of data-extension.type.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:complexType>


  <xsd:complexType name="data.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;data> element.
        data.type is mixed, that is, &lt;data> may contain #PCDATA.
        Content type: extension of data-extension.type which is empty
        per default.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="true">
      <xsd:extension base="data-extension.type">
        <xsd:attribute name="key" type="xsd:NMTOKEN" use="required">
          <xsd:annotation>
            <xsd:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">refers to the id attribute of a &lt;key>.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="id" type="xsd:NMTOKEN" use="optional">
          <xsd:annotation>
            <xsd:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">identifies this &lt;data>.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attributeGroup ref="data.extra.attrib">
          <xsd:annotation>
            <xsd:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
              user defined extra attributes for &lt;data> elements
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attributeGroup>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:complexType name="default.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;default> element.
        default.type is mixed, that is, data may contain #PCDATA.
        Content type: extension of data-extension.type which is empty
        per default.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="true">
      <xsd:extension base="data-extension.type">
        <xsd:attributeGroup ref="default.extra.attrib">
          <xsd:annotation>
            <xsd:documentation
                source="http://graphml.graphdrawing.org/"
                xml:lang="en">
              user defined extra attributes for &lt;default> elements
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attributeGroup>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <xsd:simpleType name="key.for.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Simple type for the for attribute of &lt;key>.
        key.for.type is a restriction of xsd:NMTOKEN
        Allowed values: all, graphml, graph, node, edge, hyperedge, port and endpoint.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="graph"/>
      <xsd:enumeration value="node"/>
      <xsd:enumeration value="edge"/>
      <xsd:enumeration value="hyperedge"/>
      <xsd:enumeration value="port"/>
      <xsd:enumeration value="endpoint"/>
      <xsd:enumeration value="graphml"/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:complexType name="key.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;key> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
      <xsd:element ref="default" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:NMTOKEN" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">identifies this &lt;key>.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="for" type="key.for.type" default="all">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          describes the domain of definition for
          the corresponding graph attribute.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attributeGroup ref="key.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;key> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
  </xsd:complexType>


  <xsd:complexType name="graphml.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;graphml> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
      <xsd:element ref="key" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:sequence>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:element ref="graph"/>
          <xsd:element ref="data"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attributeGroup ref="graphml.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;graphml> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
  </xsd:complexType>


  <xsd:simpleType name="graph.edgedefault.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Simple type for the edgedefault attribute of &lt;graph>.
        graph.edgedefault.type is a restriction of xsd:NMTOKEN
        Allowed values: directed, undirected.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="directed"/>
      <xsd:enumeration value="undirected"/>
    </xsd:restriction>
  </xsd:simpleType>


  <xsd:complexType name="graph.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;graph> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="data"/>
            <xsd:element ref="node"/>
            <xsd:element ref="edge"/>
            <xsd:element ref="hyperedge"/>
          </xsd:choice>
        </xsd:sequence>
        <xsd:element ref="locator"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="graph.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;graph> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute name="id" type="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          identifies this graph .
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="edgedefault"
                  type="graph.edgedefault.type" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          describes whether edges of this graph are considered
          as directed or undirected per default (unless
          specified by the attribute directed of &lt;edge>).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="node.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;node> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="data"/>
                <xsd:element ref="port"/>
                <xsd:element ref="graph"/>
          </xsd:choice>          
        </xsd:sequence>
        <xsd:element ref="locator"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="node.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;node elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute name="id" type="xsd:NMTOKEN" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          identifies this node.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="port.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;port> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="data"/>
        <xsd:element ref="port"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attributeGroup ref="port.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;port> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute name="name" type="xsd:NMTOKEN" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          identifies this port, within the node it is contained in.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="edge.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;edge> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
      <xsd:element ref="data" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="graph" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="edge.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;edge> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute name="id" type="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          identifies this edge .
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="directed" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          overwrites the edgedefault attribute of &lt;graph> .
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="source" type="xsd:NMTOKEN" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          points to the id attribute of the source &lt;node>.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="target" type="xsd:NMTOKEN" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          points to the id attribute of the target &lt;node>.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sourceport" type="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          points to the name attribute of the source &lt;port>.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="targetport" type="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          points to the name attribute of the target &lt;port>.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="hyperedge.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;hyperedge> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="data"/>
        <xsd:element ref="endpoint"/>
      </xsd:choice>
      <xsd:element ref="graph" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="hyperedge.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;hyperedge> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute name="id" type="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          identifies this &lt;hyperedge> .
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:simpleType name="endpoint.type.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Simple type for the type attribute of &lt;endpoint>.
        endpoint.type.type is a restriction of xsd:NMTOKEN
        Allowed values: in, out, undir.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="in"/>
      <xsd:enumeration value="out"/>
      <xsd:enumeration value="undir"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="endpoint.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;endpoint> element.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element ref="desc" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attributeGroup ref="endpoint.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;endpoint> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute name="id" type="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          identifies this &lt;endpoint> .
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="port" type="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          points to the name of the port, to which this endpoint is
          connected .
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="node" type="xsd:NMTOKEN" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          points to the id of the node, to which this endpoint is connected.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="endpoint.type.type" default="undir">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          defines the direction on this endpoint (undirected per default).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <xsd:complexType name="locator.type" final="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Complex type for the &lt;locator> element.
        Content type: (empty)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="locator.extra.attrib">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          user defined extra attributes for &lt;locator> elements.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attributeGroup>
    <xsd:attribute ref="xlink:href" use="required">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          points to the resource of this locator.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <!-- xsd:attribute ref="xlink:type" fixed="simple"-->
    <xsd:attribute ref="xlink:type">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          type of the hyperlink (fixed as simple).
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!--========================================================-->

  <xsd:element name="desc" type="xsd:string" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: Provides human-readable descriptions for the GraphML
        element containing this &lt;desc> as its first child.
        Occurence: &lt;key>, &lt;graphml>, &lt;graph>,
        &lt;node>, &lt;port>, &lt;edge>, &lt;hyperedge>, and
        &lt;endpoint>.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>


  <xsd:element name="locator" type="locator.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: Graphs and nodes are declared by the elements
        &lt;graph> and &lt;node>, respectively. The optional
        &lt;locator>-child of these elements point to
        their definition. (If there is no &lt;locator>-child
        the graphs/nodes are defined by their content).
        Occurence: &lt;graph>, and &lt;node>.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="data" type="data.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: In GraphML there may be data-functions attached
        to graphs, nodes, ports, edges, hyperedges and
        endpoint and to the whole collection of
        graphs described by the content of &lt;graphml>.
        These functions are declared by &lt;key> elements
        (children of &lt;graphml>) and defined by &lt;data>
        elements.
        Occurence: &lt;graphml>, &lt;graph>, &lt;node>, &lt;port>,
        &lt;edge>, &lt;hyperedge>, and &lt;endpoint>.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:unique name="data_data_key_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the key attributes of &lt;data> children
          of this &lt;data> element.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="./g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:unique>

  </xsd:element>


  <xsd:element name="key" type="key.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: In GraphML there may be data-functions attached
        to graphs, nodes, ports, edges, hyperedges and
        endpoint and to the whole collection of
        graphs described by the content of &lt;graphml>.
        These functions are declared by &lt;key> elements
        (children of &lt;graphml>) and defined by &lt;data>
        elements.
        Occurence: &lt;graphml>.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="default" type="default.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: In GraphML there may be data-functions attached
        to graphs, nodes, ports, edges, hyperedges and
        endpoint and to the whole collection of
        graphs described by the content of &lt;graphml>.
        These functions are declared by &lt;key> elements
        (children of &lt;graphml>) and defined by &lt;data>
        elements.
        The (optional) &lt;default> child of &lt;key> gives
        the default value for the corresponding function.
        Occurence: &lt;key>.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:element name="graphml" type="graphml.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: &lt;graphml> is the root element of each GraphML
        document.
        Occurence: root.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:unique name="graphml_data_key_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the key attributes of &lt;data> children
          of this &lt;graphml> element.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="./g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:unique>

    <xsd:key name="key_id_key">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: existence and uniqueness of the id attributes of
          each &lt;key> element in this document.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:key"/>
      <xsd:field xpath="@id"/>
    </xsd:key>


    <xsd:unique name="graph_id_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the id attributes of
          each &lt;graph> element in this document.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:graph"/>
      <xsd:field xpath="@id"/>
    </xsd:unique>

    <xsd:keyref name="data_key_ref" refer="key_id_key">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: for the key attribute of each &lt;data> in this document,
          the existence of an id attribute of
          &lt;key> which matches the value of it.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:keyref>

  </xsd:element>


  <xsd:element name="graph" type="graph.type" block="#all">

    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: Describes one graph in this document.
        Occurence: &lt;graphml>, &lt;node>, &lt;edge>, &lt;hyperedge>.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:unique name="graph_data_key_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the key attributes of &lt;data> children
          of this &lt;graph> element.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="./g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:unique>

    <xsd:key name="node_id_key">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: existence and uniqueness of the id attributes of
          each &lt;node> element in this graph.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:node"/>
      <xsd:field xpath="@id"/>
    </xsd:key>

    <xsd:unique name="edge_id_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the id attributes of
          each &lt;edge> element in this graph.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:edge"/>
      <xsd:field xpath="@id"/>
    </xsd:unique>

    <xsd:unique name="hyperedge_id_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the id attributes of
          each &lt;hyperedge> element in this graph.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:hyperedge"/>
      <xsd:field xpath="@id"/>
    </xsd:unique>

    <xsd:unique name="endpoint_id_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the id attributes of
          each &lt;endpoint> element in this graph.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:endpoint"/>
      <xsd:field xpath="@id"/>
    </xsd:unique>

    <xsd:keyref name="edge_source_ref" refer="node_id_key">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: for the source attribute of each &lt;edge> in this graph,
          the existence of an id attribute of
          &lt;node> which matches the value of it.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:edge"/>
      <xsd:field xpath="@source"/>
    </xsd:keyref>

    <xsd:keyref name="edge_target_ref" refer="node_id_key">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: for the target attribute of each &lt;edge> in this graph,
          the existence of an id attribute of
          &lt;node> which matches the value of it.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:edge"/>
      <xsd:field xpath="@target"/>
    </xsd:keyref>

    <xsd:keyref name="endpoint_node_ref" refer="node_id_key">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: for the node attribute of each &lt;endpoint> in this graph,
          the existence of an id attribute of
          &lt;node> which matches the value of it.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:endpoint"/>
      <xsd:field xpath="@node"/>
    </xsd:keyref>

  </xsd:element>


  <xsd:element name="node" type="node.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: Describes one node in the &lt;graph>
        containing this &lt;node>.
        Occurence: &lt;graph>.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:key name="port_name_key">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: existence and uniqueness of the name attributes of
          each &lt;port> element within this &lt;node>.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//g:port"/>
      <xsd:field xpath="@name"/>
    </xsd:key>

    <xsd:unique name="node_data_key_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the key attributes of &lt;data> children
          of this &lt;node> element.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="./g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:unique>

  </xsd:element>


  <xsd:element name="port" type="port.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: Nodes may be structured by ports; thus edges
        are not only attached to a node but to a certain
        port in this node.
        Occurence: &lt;node>, &lt;port>.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:unique name="port_data_key_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the key attributes of &lt;data> children
          of this &lt;port> element.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="./g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:unique>

  </xsd:element>


  <xsd:element name="edge" type="edge.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: Describes an edge in the &lt;graph> which contains this
        &lt;edge>.
        Occurence: &lt;graph>.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:unique name="edge_data_key_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the key attributes of &lt;data> children
          of this &lt;edge> element.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="./g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:unique>

  </xsd:element>


  <xsd:element name="hyperedge" type="hyperedge.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: While edges describe relations between two nodes,
        a hyperedge describes a relation between an arbitrary
        number of nodes.
        Occurence: &lt;graph>.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:unique name="hyperedge_data_key_unique">
      <xsd:annotation>
        <xsd:documentation
            source="http://graphml.graphdrawing.org/"
            xml:lang="en">
          Ensures: uniqueness of the key attributes of &lt;data> children
          of this &lt;hyperedge> element.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="./g:data"/>
      <xsd:field xpath="@key"/>
    </xsd:unique>

  </xsd:element>


  <xsd:element name="endpoint" type="endpoint.type" block="#all">
    <xsd:annotation>
      <xsd:documentation
          source="http://graphml.graphdrawing.org/"
          xml:lang="en">
        Description: The list of &lt;endpoints> within a hyperedge
        points to the nodes contained in this hyperedge.
        Occurence: &lt;hyperedge>.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

</xsd:schema>

    <!--======================================================-->
    <!--      end of file: graphml-structure.xsd              -->
    <!--======================================================-->
