src/main/resources/jaxb/ygraphml/ygraphics.xsd

<?xml version="1.0"?>

<!-- Header -->
<xsd:schema
    targetNamespace="http://www.yworks.com/xml/graphml"

    xmlns="http://www.yworks.com/xml/graphml"
    xmlns:y="http://www.yworks.com/xml/graphml"
    xmlns:g="http://graphml.graphdrawing.org/xmlns"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xlink="http://www.w3.org/1999/xlink"

    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    >

  <!--                             -->
  <!-- Enumeration Types -->
  <!--                             -->

  <!-- LineType -->
  <xsd:simpleType name="lineType.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid line types for an edge or node realizer.
        <p>
          Valid values are:
          <ul>
            <li>
              <b>line</b>: for a continous line
            </li>
            <li>
              <b>dashed</b>: for a dashed line
            </li>
            <li>
              <b>dotted</b>: for a dotted line
            </li>
            <li>
              <b>dashed_dotted</b>: for a dash-dotted line
            </li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="line"/>
      <xsd:enumeration value="dashed"/>
      <xsd:enumeration value="dotted"/>
      <xsd:enumeration value="dashed_dotted"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Font styles -->
  <xsd:simpleType name="fontStyle.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid font types for a label.
        <p>
          Valid values are:
          <ul>
            <li>
              <b>plain</b>
              : for a plain font
            </li>
            <li>
              <b>bold</b>
              : for a bold font
            </li>
            <li>
              <b>italic</b>
              : for an italic font
            </li>
            <li>
              <b>bolditalic</b>
              : for a bold and italic font
            </li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="plain"/>
      <xsd:enumeration value="bold"/>
      <xsd:enumeration value="italic"/>
      <xsd:enumeration value="bolditalic"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Shape of Shape Nodes -->
  <xsd:simpleType name="shapeType.type">

    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:annotation>
        <xsd:documentation>
          The shape types for a ShapeNodeRealizer.
          <p>
            Valid values are:
            <ul>
              <li>
                <b>rectangle</b>
                : for a rectangular shape
              </li>
              <li>
                <b>roundrectangle</b>
                : for a rectangular shape with rounded corners
              </li>
              <li>
                <b>ellipse</b>
                : for an elliptical shape
              </li>
              <li>
                <b>parallelogram</b>
                : for a parallelogram shape
              </li>
              <li>
                <b>hexagon</b>
                : for a hexagonal shape
              </li>
              <li>
                <b>octagon</b>
                : for a octagonal shape
              </li>
              <li>
                <b>diamond</b>
                : for a diamond shape
              </li>
              <li>
                <b>triangle</b>
                : for a triangular shape
              </li>
              <li>
                <b>trapezoid</b>
                : for a trapezoidal shape, whose upper line is half as long as its lower line
              </li>
              <li>
                <b>trapezoid2</b>
                : for a trapezoidal shape, whose lower line is half as long as its upper line
              </li>
              <li>
                <b>rectangle3d</b>
                : for a rectangular shape with 3D-ish looks
              </li>
            </ul>
          </p>
        </xsd:documentation>
      </xsd:annotation>
      <xsd:enumeration value="rectangle"/>
      <xsd:enumeration value="roundrectangle"/>
      <xsd:enumeration value="ellipse"/>
      <xsd:enumeration value="parallelogram"/>
      <xsd:enumeration value="hexagon"/>
      <xsd:enumeration value="octagon"/>
      <xsd:enumeration value="diamond"/>
      <xsd:enumeration value="triangle"/>
      <xsd:enumeration value="trapezoid"/>
      <xsd:enumeration value="trapezoid2"/>
      <xsd:enumeration value="rectangle3d"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Arrow types -->
  <xsd:simpleType name="arrowType.type">
    <xsd:annotation>
      <xsd:documentation>
        The arrow types for EdgeRealizers.
        <p>
          Valid values are:
          <ul>
            <li><b>standard</b>: for the default arrow</li>
            <li><b>delta</b>: for a triangular arrow shape</li>
            <li><b>white_delta</b>: like delta, but filled white</li>
            <li><b>diamond</b>: for a diamond arrow shape</li>
            <li><b>white_diamond</b>: like diamond, but filled white</li>
            <li><b>none</b>: for no arrow</li>
            <li><b>plain</b>: for the plain arrow</li>
            <li><b>concave</b>: for a concave arrow</li>
            <li><b>convex</b>: for a convex arrow</li>
            <li><b>circle</b>: for a circle arrow</li>
            <li><b>dash</b>: for a dash arrow</li>
            <li><b>transparent_circle</b>: for a transparent circle arrow</li>
            <li><b>skewed_dash</b>: for a skewed dash arrow</li>
            <li><b>t_shape</b>: for a T-shaped arrow</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="standard"/>
      <xsd:enumeration value="delta"/>
      <xsd:enumeration value="diamond"/>
      <xsd:enumeration value="white_diamond"/>
      <xsd:enumeration value="white_delta"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="plain"/>
      <xsd:enumeration value="concave"/>
      <xsd:enumeration value="convex"/>
      <xsd:enumeration value="circle"/>
      <xsd:enumeration value="dash"/>
      <xsd:enumeration value="transparent_circle"/>
      <xsd:enumeration value="skewed_dash"/>
      <xsd:enumeration value="t_shape"/>
    </xsd:restriction>
  </xsd:simpleType>


  <!-- Alignment of Labels -->
  <xsd:simpleType name="alignment.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid alignemts for labels.
        <p>
          Valid values are:
          <ul>
            <li><b>center</b>: center alignment</li>
            <li><b>left</b>: left alignment</li>
            <li><b>right</b>: right alignment</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="center"/>
      <xsd:enumeration value="left"/>
      <xsd:enumeration value="right"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Node Label Models -->
  <xsd:simpleType name="nodeLabelModel.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid label models for node labels.
        <p>
          Valid values are:
          <ul>
            <li><b>free</b>: free model</li>
            <li><b>sides</b>: sides model</li>
            <li><b>corners</b>: corners model</li>
            <li><b>eight_pos</b>: sides+corners model</li>
            <li><b>sandwich</b>: sandwich model</li>
            <li><b>internal</b>: internal model</li>
			<li><b>custom</b>: custom model</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="sides"/>
      <xsd:enumeration value="corners"/>
      <xsd:enumeration value="eight_pos"/>
      <xsd:enumeration value="sandwich"/>
      <xsd:enumeration value="internal"/>
	  <xsd:enumeration value="custom"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Node Label Positions -->
  <xsd:simpleType name="nodeLabelPosition.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid label positions for node labels.
        <p>
          <b>Note:</b>
          For a given node label model, the set of valid
          label positions is a subset of this enumeration that depends on the
          actual node label model.
        </p>
        <p>
          Valid values are:
          <ul>
            <li><b>n</b>: north (outside)</li>
            <li><b>nw</b>: north west (outside)</li>
            <li><b>ne</b>: north east(outside)</li>
            <li><b>w</b>: west (outside)</li>
            <li><b>e</b>: east (outside)</li>
            <li><b>sw</b>: south west (outside)</li>
            <li><b>s</b>: south (outside)</li>
            <li><b>se</b>: south east (outside)</li>
            <li><b>c</b>: center (inside)</li>
            <li><b>tl</b>: top left (inside)</li>
            <li><b>t</b>: top (inside)</li>
            <li><b>tr</b>: top right (inside)</li>
            <li><b>r</b>: right (inside)</li>
            <li><b>l</b>: left (inside)</li>
            <li><b>bl</b>: bottom left (inside)</li>
            <li><b>b</b>: bottom (inside)</li>
            <li><b>br</b>: bottom right (inside)</li>
            <li><b>anywhere</b>: anywhere</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="n"/>
      <xsd:enumeration value="nw"/>
      <xsd:enumeration value="ne"/>
      <xsd:enumeration value="w"/>
      <xsd:enumeration value="e"/>
      <xsd:enumeration value="sw"/>
      <xsd:enumeration value="s"/>
      <xsd:enumeration value="se"/>
      <xsd:enumeration value="c"/>
      <xsd:enumeration value="tl"/>
      <xsd:enumeration value="t"/>
      <xsd:enumeration value="tr"/>
      <xsd:enumeration value="r"/>
      <xsd:enumeration value="l"/>
      <xsd:enumeration value="bl"/>
      <xsd:enumeration value="b"/>
      <xsd:enumeration value="br"/>
      <xsd:enumeration value="anywhere"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- AutoSizePolicy -->
  <xsd:simpleType name="autoSizePolicy.type">
    <xsd:annotation>
      <xsd:documentation>
        The auto size policies for node labels.
        <p>
          Valid values are:
          <ul>
            <li><b>node_width</b>: resize to node width</li>
            <li><b>node_height</b>:resize to node height</li>
            <li><b>content</b>: resize to content size</li>
            <li><b>none</b>: no automatic resizing</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="node_width"/>
      <xsd:enumeration value="node_height"/>
      <xsd:enumeration value="content"/>
      <xsd:enumeration value="none"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Edge Label Models -->
  <xsd:simpleType name="edgeLabelModel.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid label models for node labels.
        <p>
          Valid values are:
          <ul>
            <li><b>centered</b>: edge center</li>
            <li><b>center_slider</b>: edge center, freeley movable</li>
            <li><b>side_slider</b>: edge side, freely movable</li>
            <li><b>free</b>: free model</li>
            <li><b>two_pos</b>: source or target only</li>
            <li><b>three_center</b>: three positions at edge center</li>
            <li><b>six_pos</b>: three positions at either source or target</li>
            <li><b>custom</b>: for a custom model</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="centered"/>
      <xsd:enumeration value="center_slider"/>
      <xsd:enumeration value="side_slider"/>
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="two_pos"/>
      <xsd:enumeration value="three_center"/>
      <xsd:enumeration value="six_pos"/>
	  <xsd:enumeration value="custom"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Edge Label Positions -->
  <xsd:simpleType name="edgeLabelPosition.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid label positions for edge labels.
        <p>
          <b>Note:</b>
          For a given edge label model, the set of valid
          label positions is a subset of this enumeration that depends on the
          actual edge label model.
        </p>
        <p>
          Valid values are:
          <ul>
            <li><b>center</b>: at source on the edge segment</li>
            <li><b>tcentr</b>: at target on the edge segment</li>
            <li><b>scentr</b>: at center on the edge segment</li>
            <li><b>stail</b>: at source below the edge segment</li>
            <li><b>ttail</b>: at target below the edge segment</li>
            <li><b>tail</b>: at center below the edge segment</li>
            <li><b>shead</b>: at source above the edge segment</li>
            <li><b>thead</b>: at target above the edge segment</li>
            <li><b>head</b>: at center above the edge segment</li>
            <li><b>anywhere</b>: anywhere</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="center"/>
      <xsd:enumeration value="tcentr"/>
      <xsd:enumeration value="scentr"/>
      <xsd:enumeration value="anywhere"/>
      <xsd:enumeration value="stail"/>
      <xsd:enumeration value="ttail"/>
      <xsd:enumeration value="tail"/>
      <xsd:enumeration value="shead"/>
      <xsd:enumeration value="thead"/>
      <xsd:enumeration value="head"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Preferred Edge Label Positions -->
  <xsd:simpleType name="preferredPlacement.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid preferred label positions for edge labels.
        <p>
          <b>Note:</b>
          For a given edge label model, the set of valid
          preferred label positions is a subset of this enumeration that depends on the
          actual edge label model. This value is evaluated by automatic label layout algorithms and may differ
          from the actual label position.
        </p>
        <p>
          Valid values are:
          <ul>
            <li><b>target_right</b>: at target right from the edge segment</li>
            <li><b>target</b>: anywhere at the target</li>
            <li><b>target_left</b>: at target left from the edge segment</li>
            <li><b>target_on_edge</b>: at target on the edge segment</li>
            <li><b>source_right</b>: at source right from the edge segment</li>
            <li><b>source</b>: anywhere at the source</li>
            <li><b>source_left</b>: at source left from the edge segment</li>
            <li><b>source_on_edge</b>: at source on the edge segment</li>
            <li><b>center_right</b>: at center right from the edge segment</li>
            <li><b>center</b>: anywhere at the  center</li>
            <li><b>center_left</b>: at center left from the edge segment</li>
            <li><b>center_on_edge</b>: at center on the edge segment</li>
            <li><b>anywhere</b>: anywhere</li>
            <li><b>on_edge</b>: anywhere on the edge</li>
            <li><b>left</b>: anywhere left from the edge</li>
            <li><b>right</b>: anywhere right from the edge</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="target_right"/>
      <xsd:enumeration value="target"/>
      <xsd:enumeration value="target_left"/>
      <xsd:enumeration value="target_on_edge"/>
      <xsd:enumeration value="source_right"/>
      <xsd:enumeration value="source"/>
      <xsd:enumeration value="source_left"/>
      <xsd:enumeration value="source_on_edge"/>
      <xsd:enumeration value="center_right"/>
      <xsd:enumeration value="center"/>
      <xsd:enumeration value="center_left"/>
      <xsd:enumeration value="center_on_edge"/>
      <xsd:enumeration value="anywhere"/>
      <xsd:enumeration value="on_edge"/>
      <xsd:enumeration value="left"/>
      <xsd:enumeration value="right"/>

    </xsd:restriction>
  </xsd:simpleType>

  <!-- horizontalTextPosition value type for labels -->
  <xsd:simpleType name="horizontalTextPosition.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid horizontal text vs. icon alignements for labels.
        <p>
          Valid values are:
          <ul>
            <li><b>left</b>: place text to the left of the icon</li>
            <li><b>right</b>: place text to the right of the icon</li>
            <li><b>center</b>: place text on center of the icon</li>
            <li><b>left_aligned</b>: align text to the left of the icon</li>
            <li><b>right_aligned</b>: align text to the right of the icon</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="left"/>
      <xsd:enumeration value="right"/>
      <xsd:enumeration value="center"/>
      <xsd:enumeration value="left_aligned"/>
      <xsd:enumeration value="right_aligned"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- verticalTextPosition value type for labels -->
  <xsd:simpleType name="verticalTextPosition.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid vertical text vs. icon alignements for labels.
        <p>
          Valid values are:
          <ul>
          <li><b>top</b>: place text above the icon</li>
          <li><b>bottom</b>: place text below the icon</li>
          <li><b>center</b>: place text on center of the icon</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="top"/>
      <xsd:enumeration value="bottom"/>
      <xsd:enumeration value="center"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!--                             -->
  <!--  Geometric types     -->
  <!--                             -->

  <!-- Location defined by x,y coordinates -->
  <xsd:attributeGroup name="Location.group">
    <xsd:annotation>
      <xsd:documentation>
        Attribute group that describes a two-dimensional location, specified by the x and y attribute.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="x" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The x coordinate of the point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="y" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The y coordinate of the point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <!-- Location defined by x,y coordinates and width,height -->
  <xsd:attributeGroup name="Rectangle.group">
    <xsd:annotation>
      <xsd:documentation>
        Attribute group that describes a two-dimensional rectangle.
        <p>
          The location is specified by the x and y attribute, the dimension by the width and height attributes.
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="x" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The x coordinate of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="y" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The y coordinate of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="width" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The width of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="height" type="xsd:double" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The height of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <!-- type for required rectangles -->
  <xsd:complexType name="Rectangle.type">
    <xsd:annotation>
      <xsd:documentation>
        Type definition for rectangles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="Rectangle.group"/>
  </xsd:complexType>

  <!-- type for optional rectangles -->
  <xsd:attributeGroup name="OpRectangle.group">
    <xsd:annotation>
      <xsd:documentation>
        Attribute group that describes a two-dimensional rectangle, where attribtue values are optional.
        <p>
          The location is specified by the x and y attribute, the dimension by the width and height attributes.
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="x" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The x coordinate of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="y" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The y coordinate of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="width" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The width of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="height" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The height of the rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>

  <!-- type for a path -->
  <xsd:complexType name="Path.type">
    <xsd:annotation>
      <xsd:documentation>
        Attribute group that describes a two-dimensional path, consisting of a point list together with optional source
        and target locations.
        <p>
          The source resp. target location is specified by the sx and sy resp. tx and ty attributes.
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Point" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            Single control point for two dimensional paths.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attributeGroup ref="Location.group"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="reversedPathRendering" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          true iff the path should be rendered in reverse order.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sx" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The x coordinate of the source point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="sy" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The y coordinate of the source point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="tx" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The x coordinate of the target point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="ty" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The y coordinate of the target point.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>


  <!--                             -->
  <!--     Misc Types       -->
  <!--                             -->

  <!-- color -->
  <xsd:simpleType name="color.type">
    <xsd:annotation>
      <xsd:documentation>
        Simple type that encodes a color value.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="#(([A-F]|[0-9]){2}){3,4}"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Style for a line -->
  <xsd:complexType name="LineStyle.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a line style.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="color" type="color.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The color of the line.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hasColor" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether the line has a color set. If false, the line is invisible.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" type="lineType.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The type of the line.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="width" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The width of the line.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- drop shadow style -->
  <xsd:complexType name="DropShadow.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a drop shadow.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="color" type="color.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The color of the drop shadow.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="offsetX" type="xsd:byte" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The offset in x direction.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="offsetY" type="xsd:byte" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The offset in y direction.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!--                             -->
  <!--        Labels            -->
  <!--                             -->
  
  <!-- Basic properties of all kind of labels -->
  <xsd:complexType name="Label.type" mixed="true">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the common attributes of node and edge labels.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LabelModel" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The (optional) custom label model.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="1" processContents="lax"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ModelParameter" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The (optional) custom label model parameter.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="1" processContents="lax"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="OpRectangle.group"/>
    <xsd:attribute name="visible" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether the label is visible or not.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="alignment" type="alignment.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The alignment of the label.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="textColor" type="color.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The text color of the label.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lineColor" type="color.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The border color of the label's content rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hasLineColor" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether the label border should be painted.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="backgroundColor" type="color.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The background color of the label's content rectangle.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hasBackgroundColor" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether the label background should be painted.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="hasText" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether the label has (possibly empty) text.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fontFamily" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The font family for the label text.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fontSize" type="xsd:unsignedByte" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The font size for the label text.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="fontStyle" type="fontStyle.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The font style for the label text.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="rotationAngle" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The rotation angle style for the label.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="icon" type="xsd:anyURI" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The URL of an icon for the label.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="image" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Reference to an embedded image resource.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iconData" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Reference to an embedded arbitrary serializable resource.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="underlinedText" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether to underline the label text.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="horizontalTextPosition" type="horizontalTextPosition.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The horizontal text position wrt to an optional icon.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="verticalTextPosition" type="verticalTextPosition.type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The vertical text position wrt to an optional icon.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iconTextGap" type="xsd:byte" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The distance between the label text and an optional icon.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="configuration" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The optional configuration of the label.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Node Labels -->
  <xsd:complexType name="NodeLabel.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the additional attributes of node labels.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Label.type">
        <xsd:attribute name="modelName" type="nodeLabelModel.type" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The label model.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="modelPosition" type="nodeLabelPosition.type" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The actual label position in the current label model.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="autoSizePolicy" type="autoSizePolicy.type" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The auto size policy of the label.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="borderDistance" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The distance of the label to the node.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Edge Labels -->
  <xsd:complexType name="EdgeLabel.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the additional attributes of edge labels.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Label.type">
        <xsd:attribute name="modelName" type="edgeLabelModel.type" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The label model.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="modelPosition" type="edgeLabelPosition.type" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The actual label position in the current label model.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="preferredPlacement" type="preferredPlacement.type" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The preferred label position in the current label model.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="distance" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The current label distance from the edge.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="ratio" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The current label position along the edge, expressed as ratio from source to target.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="TableNodeLabelModel.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the label model for both row and column labels in TableGroupNodes.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:attribute name="offset" type="xsd:double" use="optional">
        <xsd:annotation>
          <xsd:documentation>
              The offset of the label.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <xsd:complexType name="TableNodeLabelModelParameter.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the common properties of the label model parameter for both row and column labels in TableGroupNodes.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:attribute name="id" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation>
              The id of the column/row for the label.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
	<xsd:attribute name="inside" type="xsd:boolean" use="optional">
        <xsd:annotation>
          <xsd:documentation>
              Whether the label lies inside or not.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:element name="RowNodeLabelModel" type="TableNodeLabelModel.type">
    <xsd:annotation>
      <xsd:documentation>
        Element type definition for a row label model in TableGroupNodes.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="ColumnNodeLabelModel" type="TableNodeLabelModel.type">
    <xsd:annotation>
      <xsd:documentation>
        Element type definition for a column label model in TableGroupNodes.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  
  <xsd:element name="RowNodeLabelModelParameter">  
    <xsd:annotation>
      <xsd:documentation>
        Element type definition for a row label model parameter in TableGroupNodes.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:complexType>
	  <xsd:complexContent>
        <xsd:extension base="TableNodeLabelModelParameter.type">
		  <xsd:attribute name="horizontalPosition" type="xsd:double" use="optional">
            <xsd:annotation>
              <xsd:documentation>
                The horizontal position of the label.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
		</xsd:extension>
	  </xsd:complexContent>
	</xsd:complexType>
  </xsd:element>
  
  <xsd:element name="ColumnNodeLabelModelParameter">  
    <xsd:annotation>
      <xsd:documentation>
        Element type definition for a column label model parameter in TableGroupNodes.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:complexType>
	  <xsd:complexContent>
        <xsd:extension base="TableNodeLabelModelParameter.type">
		  <xsd:attribute name="verticalPosition" type="xsd:double" use="optional">
            <xsd:annotation>
              <xsd:documentation>
                The vertical position of the label.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
		</xsd:extension>
	  </xsd:complexContent>
	</xsd:complexType>
  </xsd:element>

  <xsd:complexType name="Geometry.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the geometry of simple graph elements.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attributeGroup ref="Rectangle.group"/>
  </xsd:complexType>

  <!--                             -->
  <!--      Nodes              -->
  <!--                             -->

  <!-- Generic attributes for all nodes -->
  <xsd:complexType name="Node.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the common attributes of a node realizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Geometry" minOccurs="0" maxOccurs="1" type="Geometry.type">
        <xsd:annotation>
          <xsd:documentation>
            The location and size of the node.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Fill" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The fill attributes of the node.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="hasColor" type="xsd:boolean" use="optional">
            <xsd:annotation>
              <xsd:documentation>
                Whether the node has a visible fill color.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute name="color" type="xsd:string" use="optional">
            <xsd:annotation>
              <xsd:documentation>
                The first fill color.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute name="color2" type="xsd:string" use="optional">
            <xsd:annotation>
              <xsd:documentation>
                The second fill color (for gradient fills).
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute name="transparent" type="xsd:boolean" use="optional">
            <xsd:annotation>
              <xsd:documentation>
                Whether the node is transparent.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BorderStyle" type="LineStyle.type" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The LineStyle of the border.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NodeLabel" type="NodeLabel.type" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            The (optional) node label.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NodePorts" type="NodePorts.type" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The (optional) node port list.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:key name="nodeport_id_key">
          <xsd:annotation>
            <xsd:documentation>
             Ensures: existence and uniqueness of the id attributes of
             each &lt;NodePort> element in this resource block.
            </xsd:documentation>
           </xsd:annotation>
           <xsd:selector xpath=".//y:NodePort"/>
           <xsd:field xpath="@id"/>
          </xsd:key>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="selected" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether the node is currently selected.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Shape Node -->
  <xsd:complexType name="ShapeNode.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a ShapeNodeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Node.type">
        <xsd:sequence>
          <xsd:element name="Shape" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The actual shape of a ShapeNodeRealizer.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="type" type="shapeType.type" use="required">
                <xsd:annotation>
                  <xsd:documentation>
                    The shape type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="DropShadow" type="DropShadow.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The drop shadow.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Image Node -->
  <xsd:complexType name="ImageNode.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of an ImageNodeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Node.type">
        <xsd:sequence>
          <xsd:element name="Image">
            <xsd:annotation>
              <xsd:documentation>
                Encodes an image for an ImageNodeRealizer.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="href" type="xsd:anyURI" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    The URL of an image for external image sources.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="alphaImage" type="xsd:boolean" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Whether to use alpha channel information from the image.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="refid" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Reference to an inlined image resource.
                    <p>The refid must point to an existing inlined image resource in a toplevel graphml y:Resource
                      block.
                    </p>
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="IntInsets.type">
    <xsd:annotation>
      <xsd:documentation>
        Type that can be used to describe insets in integer precision.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="top" type="xsd:nonNegativeInteger" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the top in integer precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="bottom" type="xsd:nonNegativeInteger" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the bottom in integer precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="left" type="xsd:nonNegativeInteger" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the left in integer precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="right" type="xsd:nonNegativeInteger" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the right in integer precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="FloatInsets.type">
    <xsd:annotation>
      <xsd:documentation>
        Type that can be used to describe insets in double precision.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="top" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the top in double precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="bottom" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the bottom in double precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="left" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the left in double precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="right" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The minimal inset at the right in double precision.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Insets.type">
    <xsd:annotation>
      <xsd:documentation>
        Type that can be used to describe insets in both integer and double precision.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="IntInsets.type">
        <xsd:attribute name="topF" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The minimal inset at the top in double precision.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="bottomF" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The minimal inset at the bottom in double precision.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="leftF" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The minimal inset at the left in double precision.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="rightF" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The minimal inset at the right in double precision.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Group Node -->
  <xsd:complexType name="GroupNode.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a GroupNodeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Node.type">
        <xsd:sequence>
          <xsd:element name="Shape" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The actual shape of a GroupNodeRealizer.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="type" type="shapeType.type" use="required">
                <xsd:annotation>
                  <xsd:documentation>
                    The shape type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="DropShadow" type="DropShadow.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The drop shadow.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="State" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The state of a GroupNodeRealizer (open/closed etc.).
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="closed" type="xsd:boolean" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Whether the group is currently closed.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="innerGraphDisplayEnabled" type="xsd:boolean" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Whether to display the inner graph even in closed state.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="NodeBounds" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                Type that can be used to describe additional data for node bounds determination.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="considerNodeLabelSize" type="xsd:boolean" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Whether the size of the label should be respected for automatic bounds calculation.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
          <xsd:element name="Insets" type="Insets.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The minimal insets of a GroupNodeRealizer.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BorderInsets" type="Insets.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The extra insets of a GroupNodeRealizer.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Proxy Shape Node -->
  <xsd:complexType name="ProxyShapeNode.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a ProxyShapeNodeRealizer in yFiles.
        <p>This Realizer can multiplex between several different realizers for a node.</p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Realizers">
        <xsd:annotation>
          <xsd:documentation>
            List of subordinate realizers for this node realizer.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
          </xsd:sequence>
          <xsd:attribute name="active" type="xsd:nonNegativeInteger" use="required">
            <xsd:annotation>
              <xsd:documentation>
                The list index of the currently active realizer (zero based).
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UserData.type">
    <xsd:annotation>
      <xsd:documentation>
        Type for the UserData that holds the actual state of a generic Node or Edge Realizer.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="class" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          Class name of the data holder instance.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="value" type="xsd:string" use="required">
      <xsd:annotation>
        <xsd:documentation>
          String representation of the user data value.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
		  
  <!-- Generic Node -->
  <xsd:complexType name="GenericNode.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a GenericNodeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Node.type">
        <xsd:sequence>
          <xsd:element name="UserData" type="UserData.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                Represents the UserData that holds the actual state of this realizer instance.
              </xsd:documentation>
            </xsd:annotation>            
          </xsd:element>
		  <xsd:element name="StyleProperties" type="StyleProperties.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                Represents the StyleProperties of this realizer instance.
              </xsd:documentation>
            </xsd:annotation>            
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="configuration" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the configuration. This configuration must have been registered previously.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Generic Group Node -->
  <xsd:complexType name="GenericGroupNode.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a GenericGroupNodeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GenericNode.type">
	   <xsd:sequence>
	    <xsd:element name="State" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The state of a GenericGroupNodeRealizer (open/closed etc.).
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="closed" type="xsd:boolean" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Whether the group is currently closed.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="autoResize" type="xsd:boolean" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Whether the group node should automatically resize itself.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
			  <xsd:attribute name="closedHeight" type="xsd:double" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    The height of the group node in closed state.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
			  <xsd:attribute name="closedWidth" type="xsd:double" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    The width of the group node in closed state.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
		  <xsd:element name="Insets" type="Insets.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The minimal insets of a GroupNodeRealizer.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="BorderInsets" type="Insets.type" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>
                The extra insets of a GroupNodeRealizer.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
		</xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Table Node -->
  <xsd:complexType name="TableNode.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a TableGroupNodeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GenericGroupNode.type">
        <xsd:sequence>
          <xsd:element name="Table" type="Table.type">
            <xsd:annotation>
              <xsd:documentation>
                Represents the table structure of this realizer instance.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>        
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Table type -->
  <xsd:complexType name="Table.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a TableNodeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DefaultColumnInsets" type="FloatInsets.type">
        <xsd:annotation>
          <xsd:documentation>
           The default insets for a column.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DefaultRowInsets" type="FloatInsets.type">
        <xsd:annotation>
          <xsd:documentation>
           The default insets for a row.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Insets" type="FloatInsets.type">
        <xsd:annotation>
          <xsd:documentation>
           The insets for the table.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Columns">
        <xsd:annotation>
          <xsd:documentation>
            List of columns for this table.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Column" type="TableColumn.type" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  A single column element
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Rows">
        <xsd:annotation>
          <xsd:documentation>
            List of rows for this table.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Row" type="TableRow.type" minOccurs="0" maxOccurs="unbounded">
              <xsd:annotation>
                <xsd:documentation>
                  A single row element
                </xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="autoResizeTable" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether to automatically resize the table.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="defaultColumnWidth" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The default column width of the table.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="defaultMinimumColumnWidth" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The default minimum column width of the table.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="defaultRowHeight" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The default row height of the table.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="defaultMinimumRowHeight" type="xsd:double" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The default minimum row height of the table.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="TableColumn.type">
    <xsd:annotation>
      <xsd:documentation>
        Type definition for a TableNodeRealizer table column.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Insets" type="FloatInsets.type">
        <xsd:annotation>
          <xsd:documentation>
            The insets of the column
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The unique id of the column.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minimumWidth" type="xsd:double">
      <xsd:annotation>
        <xsd:documentation>
          The minimum width of the column.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="width" type="xsd:double">
      <xsd:annotation>
        <xsd:documentation>
          The width of the column.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="TableRow.type">
    <xsd:annotation>
      <xsd:documentation>
        Type definition for a TableNodeRealizer table row.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Insets" type="FloatInsets.type">
        <xsd:annotation>
          <xsd:documentation>
            The insets of the row.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The unique id of the row.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="minimumHeight" type="xsd:double">
      <xsd:annotation>
        <xsd:documentation>
          The minimum height of the row.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="height" type="xsd:double">
      <xsd:annotation>
        <xsd:documentation>
          The height of the row.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <!-- Element Definitions for  Nodes -->
  <xsd:element name="ShapeNode" type="ShapeNode.type">
    <xsd:annotation>
      <xsd:documentation>
        ShapeNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ImageNode" type="ImageNode.type">
    <xsd:annotation>
      <xsd:documentation>
        ImageNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GroupNode" type="GroupNode.type">
    <xsd:annotation>
      <xsd:documentation>
        GroupNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GenericNode" type="GenericNode.type">
    <xsd:annotation>
      <xsd:documentation>
        GenericNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GenericGroupNode" type="GenericGroupNode.type">
    <xsd:annotation>
      <xsd:documentation>
        GenericGroupNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ProxyShapeNode" type="ProxyShapeNode.type">
    <xsd:annotation>
      <xsd:documentation>
        ProxyShapeNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ProxyAutoBoundsNode" type="ProxyShapeNode.type">
    <xsd:annotation>
      <xsd:documentation>
        ProxyAutoBoundsNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>  
  <xsd:element name="TableNode" type="TableNode.type">
    <xsd:annotation>
      <xsd:documentation>
        TableGroupNodeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <!--                             -->
  <!--      Edges              -->
  <!--                             -->

  <!-- Generic attributes for all edges -->
  <xsd:complexType name="Edge.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the common attributes of an edge realizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Path" type="Path.type" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The edge path.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineStyle" type="LineStyle.type" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The line style used to draw the edge.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Arrows" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The source and target arrows.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:attribute name="source" type="arrowType.type">
            <xsd:annotation>
              <xsd:documentation>
                The source arrow type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
          <xsd:attribute name="target" type="arrowType.type">
            <xsd:annotation>
              <xsd:documentation>
                The target arrow type.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:attribute>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="EdgeLabel" type="EdgeLabel.type" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            The edge label(s).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SourcePort" type="EdgePort.type" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The visual edge source port.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TargetPort" type="EdgePort.type" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>
            The visual edge target port.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="selected" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Whether the edge currently is selected.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="EdgePort.type">
    <xsd:annotation>
      <xsd:documentation>
        The type of a visual edge port.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Icon" type="Icon.type">
        <xsd:annotation>
          <xsd:documentation>
            The icon of the port.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="type" fixed="InterfacePort">
      <xsd:annotation>
        <xsd:documentation>
          The type of the port, currently fixed to InterfacePort.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="Icon.type">
    <xsd:annotation>
      <xsd:documentation>
        Type definition for an icon.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="icon" type="xsd:anyURI" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The URL of an icon.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="image" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Reference to an embedded image resource.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="iconData" type="xsd:string" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          Reference to an embedded arbitrary serializable resource.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  <!-- Polyline edges -->
  <xsd:complexType name="PolyLineEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a PolylineEdgeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Edge.type">
        <xsd:sequence>
          <xsd:element name="BendStyle">
            <xsd:annotation>
              <xsd:documentation>
                The style used to draw the bends.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="smoothed" type="xsd:boolean" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    Whether to draw smooth instead of angular bends.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>


  <!-- Type of Arc edges -->
  <xsd:simpleType name="arc.type">
    <xsd:annotation>
      <xsd:documentation>
        The arc types for ArcEdgeRealizers.
        <p>
          Valid values are:
          <ul>
            <li><b>fixedHeight</b>: fixed height, but variable ratio</li>
            <li><b>fixedRatio</b>: fixed ration, but variable height</li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="fixedHeight"/>
      <xsd:enumeration value="fixedRatio"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- Arc edges -->
  <xsd:complexType name="ArcEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of an ArcEdgeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Edge.type">
        <xsd:sequence>
          <xsd:element name="Arc">
            <xsd:annotation>
              <xsd:documentation>
                The Arc.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="type" type="arc.type" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    The arc type.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="height" type="xsd:double" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    The current height of the arc.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="ratio" type="xsd:double" use="optional">
                <xsd:annotation>
                  <xsd:documentation>
                    The current ratio of the arc.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- QuadCurve edges -->
  <xsd:complexType name="QuadCurveEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of a QuadCurveEdgeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Edge.type">
        <xsd:attribute name="straightness" type="xsd:double" use="optional">
          <xsd:annotation>
            <xsd:documentation>
              The straightness of the curve.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Generic edges -->
  <xsd:complexType name="GenericEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the attributes of an GenericEdgeRealizer in yFiles.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Edge.type">
        <xsd:sequence>
          <xsd:element name="UserData">
            <xsd:annotation>
              <xsd:documentation>
                Represents the UserData that holds the actual state of this realizer instance.
              </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:attribute name="class" type="xsd:string" use="required">
                <xsd:annotation>
                  <xsd:documentation>
                    Class name of the data holder instance.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
              <xsd:attribute name="value" type="xsd:string" use="required">
                <xsd:annotation>
                  <xsd:documentation>
                    String representation of the user data value.
                  </xsd:documentation>
                </xsd:annotation>
              </xsd:attribute>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="configuration" type="xsd:string" use="required">
          <xsd:annotation>
            <xsd:documentation>
              The name of the configuration. This configuration must have been registered previously.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Element definitions for edges -->
  <xsd:element name="PolyLineEdge" type="PolyLineEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        PolyLineEdgeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ArcEdge" type="ArcEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        ArcEdgeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="BezierEdge" type="Edge.type">
    <xsd:annotation>
      <xsd:documentation>
        BezierEdgeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="SplineEdge" type="Edge.type">
    <xsd:annotation>
      <xsd:documentation>
        SplineEdgeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="QuadCurveEdge" type="QuadCurveEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        QuadCurveEdgeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="GenericEdge" type="GenericEdge.type">
    <xsd:annotation>
      <xsd:documentation>
        GenericEdgeRealizer element definition.
      </xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <!-- Node port support -->
  <xsd:complexType name="PortGeometry.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the geometry of port elements.
      </xsd:documentation>
    </xsd:annotation>
          <xsd:sequence>
            <xsd:any minOccurs="1" maxOccurs="1" processContents="lax"/>
          </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Geometry" type="PortGeometry.type">
      <xsd:annotation>
          <xsd:documentation>
              Port geometry element definition.
          </xsd:documentation>
      </xsd:annotation>
  </xsd:element>

  <xsd:simpleType name="NodeScaledPortLocationModel.portLocationPolicy.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid port location policies for NodeScaledPortLocationModel.
        <p>
          Valid values are:
          <ul>
            <li><b>POLICY_DISCRETE</b></li>
            <li><b>POLICY_BOUNDARY</b></li>
            <li><b>POLICY_BOUNDARY_CENTER</b></li>
            <li><b>POLICY_BOUNDARY_INSIDE</b></li>
            <li><b>POLICY_FREE</b></li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="POLICY_DISCRETE"/>
      <xsd:enumeration value="POLICY_BOUNDARY"/>
      <xsd:enumeration value="POLICY_BOUNDARY_CENTER"/>
      <xsd:enumeration value="POLICY_BOUNDARY_INSIDE"/>
      <xsd:enumeration value="POLICY_FREE"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="NodeScaledPortLocationModel.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes a NodeScaledPortLocationModel.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="portLocationPolicy" type="NodeScaledPortLocationModel.portLocationPolicy.type"/>
    <xsd:attribute name="ratioX" type="xsd:double"/>
    <xsd:attribute name="ratioY" type="xsd:double"/>
  </xsd:complexType>

  <xsd:element name="NodeScaledPortLocationModel" type="NodeScaledPortLocationModel.type">
      <xsd:annotation>
          <xsd:documentation>
              NodeScaledPortLocationModel element definition.
          </xsd:documentation>
      </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="NodePorts.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes a list of node ports.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="NodePort" type="NodePort.type" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
             A single node port element
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NodePort.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes a NodePort.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="id" use="required">
        <xsd:annotation>
        <xsd:documentation>
          The id of the port.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="PortLabelModel.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the label model for node ports.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="localCandidatesEnabled" type="xsd:boolean" use="optional">
        <xsd:annotation>
          <xsd:documentation>
              Whether to allow local candidates.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
	<xsd:attribute name="offset" type="xsd:double" use="optional">
        <xsd:annotation>
          <xsd:documentation>
              The offset of the label.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:simpleType name="PortLabelModelParameter.position.type">
    <xsd:annotation>
      <xsd:documentation>
        The valid parameter positions for PortLabelModelParameter.
        <p>
          Valid values are:
          <ul>
            <li><b>north</b></li>
            <li><b>south</b></li>
            <li><b>east</b></li>
            <li><b>west</b></li>
            <li><b>center</b></li>
          </ul>
        </p>
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="north"/>
      <xsd:enumeration value="south"/>
      <xsd:enumeration value="east"/>
      <xsd:enumeration value="west"/>
      <xsd:enumeration value="center"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PortLabelModelParameter.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes a PortLabelModelParameter.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:attribute name="id" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation>
              The id of the port for the label.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
	<xsd:attribute name="position" type="PortLabelModelParameter.position.type" use="optional">
        <xsd:annotation>
          <xsd:documentation>
              The position of the parameter.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:element name="PortLabelModelParameter" type="PortLabelModelParameter.type">
      <xsd:annotation>
          <xsd:documentation>
              PortLabelModelParameter element definition.
          </xsd:documentation>
      </xsd:annotation>
  </xsd:element>

  <xsd:element name="PortLabelModel" type="PortLabelModel.type">
      <xsd:annotation>
          <xsd:documentation>
              PortLabelModel element definition.
          </xsd:documentation>
      </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="PortGraphics.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type that describes the visual configuration for node ports.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="configuration" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation>
              The port graphics configuration.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
	<xsd:attribute name="selected" type="xsd:boolean" use="optional">
        <xsd:annotation>
          <xsd:documentation>
              Whether the port is selected.
          </xsd:documentation>
        </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:element name="Graphics" type="PortGraphics.type">
      <xsd:annotation>
          <xsd:documentation>
              PortGraphics element definition.
          </xsd:documentation>
      </xsd:annotation>
  </xsd:element>

  <xsd:element name="UserData" type="UserData.type">
      <xsd:annotation>
          <xsd:documentation>
              UserData element definition.
          </xsd:documentation>
      </xsd:annotation>
  </xsd:element>

  <!-- Shared resource block definitions -->
  <xsd:complexType name="Resource.type" mixed="true">
    <xsd:annotation>
      <xsd:documentation>
        Complex type for a shared resource element inside a resource block container.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:annotation>
        <xsd:documentation>
          The actual content. Note that arbitrary (wellformed) content is allowed here.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:any minOccurs="0" maxOccurs="1" processContents="skip"/>
    </xsd:sequence>
    <xsd:attribute name="id" use="required">
      <xsd:annotation>
        <xsd:documentation>
          The id of the shared resource. Needed to reference this resource.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="type" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The type of the shared resource.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="format" use="optional">
      <xsd:annotation>
        <xsd:documentation>
          The format of the shared resource.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>

  <xsd:complexType name="ResourceBlock.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type for a shared resource block container.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Resource" type="Resource.type" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>
            A shared resource element.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="Resources" type="ResourceBlock.type">
    <xsd:annotation>
      <xsd:documentation>
        Resource block element definition.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:key name="resource_id_key">
      <xsd:annotation>
        <xsd:documentation>
          Ensures: existence and uniqueness of the id attributes of
          each &lt;Resource> element in this resource block.
        </xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath=".//y:Resource"/>
      <xsd:field xpath="@id"/>
    </xsd:key>
  </xsd:element>
  
  <xsd:complexType name="StyleProperty.type" mixed="true">
    <xsd:annotation>
      <xsd:documentation>
        Complex type definition for a single style property.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:sequence>
	  <xsd:any minOccurs="0" maxOccurs="1" processContents="lax"/>
	</xsd:sequence>
	<xsd:attribute name="name" use="required" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The name of the property.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
	<xsd:attribute name="class" use="optional" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The class name of the property.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
	<xsd:attribute name="value" use="optional" type="xsd:string">
      <xsd:annotation>
        <xsd:documentation>
          The string value of the property.
        </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:complexType>
  
  <xsd:complexType name="StyleProperties.type">
    <xsd:annotation>
      <xsd:documentation>
        Complex type definition for a set of style properties for generic node/edge realizers.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:sequence>
	  <xsd:element name="Property" type="StyleProperty.type" minOccurs="0" maxOccurs="unbounded"/>
	</xsd:sequence>	
  </xsd:complexType>
  
  <xsd:element name="SimpleStyle">
    <xsd:annotation>
      <xsd:documentation>
        Element type definition for a simple style property.
      </xsd:documentation>
    </xsd:annotation>
	<xsd:complexType>
	  <xsd:attribute name="fillColor" type="color.type" use="optional">
        <xsd:annotation>
          <xsd:documentation>
             The fill color of the style.
          </xsd:documentation>
        </xsd:annotation>
       </xsd:attribute>
	   <xsd:attribute name="lineColor" type="color.type" use="optional">
        <xsd:annotation>
          <xsd:documentation>
             The line color of the style.
          </xsd:documentation>
        </xsd:annotation>
       </xsd:attribute>
	   <xsd:attribute name="lineType" type="lineType.type" use="optional">
        <xsd:annotation>
          <xsd:documentation>
             The line type of the style.
          </xsd:documentation>
        </xsd:annotation>
       </xsd:attribute>
	   <xsd:attribute name="lineWidth" type="xsd:double" use="optional">
        <xsd:annotation>
          <xsd:documentation>
             The line width of the style.
          </xsd:documentation>
        </xsd:annotation>
       </xsd:attribute>
	</xsd:complexType>	
  </xsd:element>

</xsd:schema>
